---
layout: default
title: "Home"
---

<section>
  <h2>Recent Posts</h2>
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <p class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </p>
        <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
    <nav class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
      {% endif %}
      <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
      {% endif %}
    </nav>
  {% endif %}
</section>
